---
- name: Update apt cache
  apt:
    update_cache: yes


- name: Install base dependencies
  apt:
    name:
      - curl
      - software-properties-common
      - apt-transport-https
      - ca-certificates
      - gnupg
    state: present

- name: Add Docker GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present


- name: Add Docker repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu noble stable
    state: present
    update_cache: yes

- name: Install Docker
  apt:
    name: docker-ce
    state: present

- name: Ensure docker service is started and enabled
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Add ansible user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Configure UFW
  ufw:
    rule: allow
    name: OpenSSH
  when: ansible_os_family == "Debian"


- name: Allow HTTP and HTTPS through UFW
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - 80
    - 443

- name: Enable UFW
  ufw:
    state: enabled
